@use "../themes/base-colors" as bc;
@use "../base/helpers" as helper;

.home6 {
  background-color: #faf9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  //height: 30rem;
  //justify-content: center;
}

.home6-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faf9fa;
  max-width: 968px;
  width: 70%;
  padding: 3rem;
  height: 30rem;

  h2 {
    font-size: 40px;
    margin: 0 0 24px;
    font-weight: 600;
    line-height: 1.1;
    span {
      color: purple;
    }
  }

  div p {
    font-size: 16px;
    color: #7a6eaa;
    font-weight: 400;
    margin: 0 0 24px;
  }

  button {
    background-color: #1fc7d4;
    color: white;
    font-weight: 600;
    padding: 12px 20px;
    border-color: #1fc7d4;
    border-radius: 15%;
    font-size: 16px;
    margin-right: 16px;
  }

  a {
    text-decoration: none;
    color: #1fc7d4;
    font-weight: 600;
    line-height: 1.5;
  }
}
.stavros_span {
  font-size: inherit;
}
.home6-top {
  display: flex;
  flex-direction: row;
  padding: 3rem;
}

.home6-stats-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;

  & p:nth-child(2) {
    font-size: 24px;
    font-weight: 800;
  }
}

.home6-imagecontainer {
  width: 40%;
  display: flex;
  place-items: center;
  //padding-left: 1rem;

  & img {
    width: 20rem;
    position: absolute;
  }

  .home6-botright {
    @include helper.addAnimation(1, 3);
  }
  .home6-coin {
    @include helper.addAnimation(0.5, 2);
  }
  .home6-topleft {
    @include helper.addAnimation(1.5, 2);
  }
  .home6-topright {
    @include helper.addAnimation(2, 2);
  }
}

// Dark Mode
.home6-DM {
  background: #08060b !important;
}
.home6-btn-DM {
  color: #191628 !important;
}
.home6-h2-DM {
  color: #ffffff !important;
}
