body {
    width: calc(100vw - 0.5rem);
}

%buttonClick{
    &:active {
        opacity: 0.85;
        box-shadow: none;
    }
}

%hoverEffect{
    &:hover {
        opacity: .65;
    }
}

.lottery {
    background-image: url(../assets/home7/deneme.svg), linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;

    width: 119.5rem;
    height: 31.0625rem;

    clip-path: ellipse(120rem 30rem at 50% 20%);
}

.pottery_first-right_menu-button {
    cursor: pointer;
    @extend %buttonClick;
    @extend %hoverEffect;

}