@use "../themes/base-colors" as bc;
@use "../components/buttons" as button;
@use "../base/helpers" as animation;

* {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

%button {
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-radius: 1rem;
  color: bc.$button-color-main;
  border-color: #25a9b2;
  background-color: transparent;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  height: 3rem;
  padding: 0px 1.5rem;
}

%button-blue {
  color: #fff;
  background-color: bc.$button-color-main;
  border-width: 1.5px;
  cursor: pointer;
}

%buttonClick {
  &:active {
    opacity: 0.85;
    transform: translateY(1px);
    box-shadow: none;
  }
}

%hoverEffect {
  &:hover {
    opacity: 0.65;
  }
}

%hoverTransition {
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
}

%active {
  &:active {
    opacity: 0.85;
  }
}

.home1 {
  margin: 1px 0 0 0;
  padding: 3rem 0;
  font-size: 100%;
  align-items: center;
  width: calc(100vw - 0.5rem);
  height: 62.5rem;
  position: relative;
  background: linear-gradient(139.73deg, #e6fdff 0%, #f3efff 100%);
  margin-top: 0;

  &__background {
    width: 100%;
    position: absolute;
    bottom: 5.5rem;

    &--1 {
      width: 100%;
      height: 6rem;
      position: absolute;
      background-color: #fff;
      bottom: 0;
    }

    &--2 {
      width: 100%;
      height: 6rem;
      position: absolute;
      background-color: #08060d;
      bottom: 0;
    }
  }

  &__slideshow {
    width: 72rem;
    height: 14.5rem;
    justify-content: center;
    margin-top: -0.75rem;
    margin-bottom: 0.625rem;
    position: relative;
    transition: .5s all ease-in-out;

    &--1 {
      background: -webkit-linear-gradient(
        top,
        rgb(118, 69, 217) 0%,
        rgb(69, 42, 122) 100%
      );
      border-radius: 2rem;
      padding: 1.5rem;
      width: 66.5rem;
      height: 9rem;

      :first-child {
        justify-content: space-between;
        align-items: flex-start;

        p {
          margin: 0;
          font-weight: 600;
          line-height: 1.1;

          &:first-child {
            font-size: 1.5rem;
            background: -webkit-linear-gradient(#ffd800, #eb8c00);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &:nth-child(2) {
            font-size: 2.5rem;
            text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
            color: rgb(255, 255, 255);
          }
        }

        button {
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          display: flex;

          z-index: 10;

          @extend %button;
          @extend %button-blue;
          @extend %buttonClick;
          @extend %hoverEffect;
          @extend %hoverTransition;
          @extend %active;

          img {
            margin-left: 0.25rem;
          }
        }
      }

      :nth-child(2) {
        img {
          width: 24.5rem;
          position: absolute;
          top: -2.5rem;
          right: 1.125rem;
        }
      }
    }

    &--slider {
      top: 16rem;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      height: 0.5rem;
      width: 6rem;

      &-bullet {
        cursor: pointer;
        background-color: white;
        opacity: 0.2;
        width: 2rem;
        height: 100%;
        border: none;
        padding: 0;



        &:first-child {
          border-radius: 0.5rem 0 0 0.5rem;
          transition: 0.25s all ease-in-out;
        }

        &:nth-child(2) {
          border-radius: 0;
          transition: 0.25s all ease-in-out;
        }

        &:last-child {
          border-radius: 0 0.5rem 0.5rem 0;
          transition: 0.25s all ease-in-out;
        }
      }
    }
  }

  &__hero {
    align-items: center;
    justify-content: center;
    width: 72rem;
    height: 36.125rem;

    z-index: 100;

    &__img {
      position: relative;
      width: 36rem;
      height: 36rem;

      img {
        display: block;
        width: 100%;
        position: absolute;

        &:first-child {
          @include animation.jump(3);
        }

        &:nth-child(2) {
          @include animation.fadeIn(2);
          top: -3rem;
        }

        &:nth-child(3) {
          @include animation.fadeIn(6);
          top: -2.5rem;
          left: -3rem;
        }

        &:nth-child(4) {
          @include animation.fadeIn(4);
          top: -1rem;
          left: -3rem;
        }
      }
    }

    &__text {
      width: 36rem;
      height: 17.5625rem;
      justify-content: space-between;

      h1 {
        margin: 0;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.1;
        color: bc.$nav-text2-active;
      }

      p {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.1;
        color: bc.$nav-text2;
      }

      button {
        @extend %button;
        @extend %buttonClick;

        &:first-child {
          margin-right: 0.5rem;
          @extend %button-blue;
        }

        @extend %hoverEffect;
        @extend %hoverTransition;
      }
    }
  }
}

.container {
  width: 75rem;
  height: 56.5rem;
  padding: 3rem 1.5rem;
  align-items: center;
  align-content: center;
}

// dark mode
.home1-h1 {
  color: #9a6aff !important;
}
.home1__background--1-DM {
  background: #0e0a15;
}
.home-1-hd-bg-DM {
  display: none;
}
.home1-light-DM {
  background: linear-gradient(180deg, #191327, #1a1428);
}
.home-1-p-light-DM {
  color: #f4eeff !important;
}
.home-1-btn-light-DM {
  color: #191327 !important;
}
.home-1-img-light {
  filter: invert(100%) sepia(0%) saturate(7474%) hue-rotate(52deg)
    brightness(121%) contrast(99%);
}
.home-1-img-light-DM {
  filter: none;
}

.slider-background-P{
  background: linear-gradient(top, rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%)
}

.slider-background-A{
  background: linear-gradient(rgb(0, 191, 165) 0%, rgb(0, 90, 90) 100%) !important;
}

.slider-background-TW {
  background: radial-gradient(104.12% 231.19% at -4.12% -5.83%, rgb(0, 87, 174) 0.52%, rgb(102, 124, 198) 67.41%, rgb(25, 229, 245) 100%) !important;
}

.slider-bullet-active {
  opacity: 1 !important;
}

.slider-slide-noActive {
  opacity: 0 !important;
  position: absolute !important;
}

.slider-p-tw {
  font-size: 24px !important;
  line-height: 110% !important;
  font-feature-settings: "liga" 0 !important;
  color: rgb(255, 255, 255) !important;
  text-shadow: rgb(0 0 0 / 25%) 0px 4px 4px !important;
  font-style: normal;
  font-weight: 600;
}
