@use "../base/helpers" as helper;

.home4,
.home7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home4 {
  height: 45rem;
  margin-top: -2rem;
  // // added by güneş
  width: 100%;
  // border: 2px solid red;
  background: #fff;
  transform: translateY(1.7rem);
  // // added by güneş

  #upper-svg {
    fill: #d8cbed;
    width: 100%;
    height: 4%;
    max-height: 48px;
    margin-bottom: 1rem;
  }

  display: flex;
  flex-direction: column;

  #below-svg {
    fill: #faf9fa;
    width: 100%;
    height: 100%;
    max-height: 48px;
    transform: rotate(180deg);
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
    overflow: hidden;
  }
}

.home4-container {
  padding: 48px 24px;
  display: flex;
  flex-direction: row;
  height: 28rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 968px;

  .home4-textcontainer {
    width: 50%;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 40px;
      margin: 0 0 24px;
      font-weight: 600;
      line-height: 1.1;

      span {
        font-size: inherit;
        color: #7645d9;
      }
    }

    div p {
      font-size: 16px;
      color: #7a6eaa;
      font-weight: 400;
      margin: 0 0 24px;
    }

    button {
      background-color: #1fc7d4;
      color: white;
      font-weight: 600;
      padding: 12px 20px;
      border-color: #1fc7d4;
      border-radius: 15%;
      font-size: 16px;
      margin-right: 16px;
    }

    a {
      text-decoration: none;
      color: #1fc7d4;
      font-weight: 600;
      line-height: 1.5;
    }
  }

  .home4-imagecontainer {
    width: 40%;
    display: flex;
    place-items: center;
    padding-left: 1rem;

    img {
      width: 26rem;
      position: absolute;
    }

    .fmg1 {
      @include helper.addAnimation(1, 4);
    }

    .fmg2 {
      @include helper.addAnimation(0.5, 5);
    }

    .fmg3 {
      @include helper.addAnimation(1.5, 6);
    }
  }
}

.home7 {
  background-image: url(../../assets/home7/deneme.svg),
  linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center, right;

  .home7-container {
    display: flex;
    flex-direction: row;
    padding: 30px 0px;
    align-items: center;
    justify-items: space-evenly;
    width: 100%;
    max-width: 1200px;

    .home7-leftimagecontainer {
      align-items: flex-end;
    }

    .home7-leftimagecontainer {
      margin-right: 3rem;
      margin-top: 5rem;
    }

    .home7-rightimagecontainer {
      margin-left: 3rem;
      margin-bottom: 6rem;
      margin-right: 3rem;
    }

    .home7-leftimagecontainer,
    .home7-rightimagecontainer {
      width: 40%;
      display: flex;
      justify-items: center;

      img {
        width: 15rem;
        position: absolute;
      }

      .fmg1 {
        @include helper.addAnimation(1, 4);
      }

      .fmg2 {
        @include helper.addAnimation(0.5, 5);
      }

      .fmg3 {
        @include helper.addAnimation(1.5, 6);
      }
    }

    .home7-textcontainer {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      padding: 50px 0;

      h2 {
        font-size: 40px;
        color: white;
        font-weight: 600;
        line-height: 1.1;
        margin: 0;
      }

      div:nth-of-type(2n + 1) {
        margin: 0 0 24px;
      }

      p {
        line-height: 1.5;
        font-size: 16px;
        color: white;
        margin: 0px;
        text-align: center;
        white-space: nowrap;

        &:nth-child(2) {
          margin: 0 0 24px;
        }

        span {
          font-weight: 600;
        }
      }

      button {
        background-color: #1fc7d4;
        color: white;
        font-weight: 600;
        padding: 12px 20px;
        border-color: #1fc7d4;
        border-radius: 15%;
        font-size: 16px;
        margin: 24px 0 0;
      }

      a {
        text-decoration: none;
        color: #1fc7d4;
        font-weight: 600;
        line-height: 1.5;
      }
    }
  }
}

@media (max-width: 1000px) {
  .home4 {
    .home4-container {
      .home4-imagecontainer {
        img {
          width: 20rem;
        }
      }
    }
  }
}

.home7 {
  .home7-container {
    .home7-leftimagecontainer,
    .home7-rightimagecontainer {
      img {
        width: 11.14rem;
        overflow: hidden;
        position: block;
      }
    }
  }
}

@media (max-width: 852px) {
  .home4 {
    .home4-container {
      display: flex;
      flex-direction: column-reverse;

      .home4-textcontainer {
        display: flex;
        flex-direction: column;
        width: fit-content;
        max-height: 140px;
        flex: 1 1 0%;
        justify-self: flex-end;
        align-self: flex-start;
        margin-left: 1rem;

        h2 {
          font-size: 32px;
        }

        p {
          font-size: 16px;
          white-space: normal;
        }
      }

      .home4-imagecontainer {
        height: 92px;
        width: 92px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;
        justify-content: flex end;
        align-items: flex-end;

        img {
          width: 12rem;
        }
      }
    }
  }

  .home7 {
    .home7-container {
      max-width: 500px;

      .home7-textcontainer {
        width: 500px;
        margin: 1rem;

        p {
          white-space: break-spaces;
        }
      }

      .home7-leftimagecontainer,
      .home7-rightimagecontainer {
        width: 0%;
        margin: 0;

        img {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .home4 {
    .home4-container {
      .home4-textcontainer {
        max-height: max-content;
        margin-bottom: 15px;
      }

      .home4-imagecontainer {
        height: 260px;
        width: 90px;
        display: flex;
        margin-top: 15px;
        margin-bottom: 0%;

        img {
          width: 11rem;
          position: absolute;
        }
      }
    }
  }

  .home7 {
    .home7-container {
      .home7-textcontainer {
        h2 {
          font-size: 32px;
          font-weight: 600;
          line-height: 1.1;
        }
      }
    }
  }
}
.home-7-connect-btn-DM {
  color: #191628 !important;
}
.home4-DM {
  background: #08060b !important;
  display: flex;
  justify-content: center;
}
.home4-h2-DM {
  color: #f4eeff !important;
}
.home4-btn-DM {
  color: #191628 !important;
}
