.sub_nav_adj-overview {
  //   width: 350px;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  ul {
    width: 275px !important;
  }
}

// overview-nft market place
.overview-nft-market {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 65px;
  background: linear-gradient(90deg, #e6fcff, #f2f0ff);
  &-left {
    display: flex;
    padding: 12px 2px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &-h3 {
      margin-top: auto;
      color: #7645d9;
      font-weight: 600;
      font-size: 48px;
      line-height: 1.1;
    }
    &-p {
      color: #280d5f;
      font-size: 24px;
      font-weight: 600;
      line-height: 1.1;
    }
  }
  &-right {
    &-search {
      background-color: #eeeaf4;
      border-radius: 16px;
      box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
      color: #280d5f;
      display: block;
      font-size: 16px;
      height: 40px;
      outline: 0px;
      padding: 0px 16px;
      width: 100%;
      border: 1px solid #d7caec;
    }
  }
}

// overview-new-collections
.overview-new-collections {
  // background-color: red;
  // margin-top: 15px;
  padding: 5px 65px;
  padding-top: 15px;
  &-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    // border: 2px solid red;
    width: 97.5%;
    margin-bottom: 32px;
    margin-top: 20px;
    &-h3 {
      color: #280d5f;
      font-size: 24px;
      font-weight: 600;
    }
    &-btn {
      align-items: center;
      border-radius: 16px;
      cursor: pointer;
      display: inline-flex;
      font-family: inherit;
      font-size: 16px;
      font-weight: 600;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: 0.03em;
      line-height: 1;
      opacity: 1;
      outline: 0px;
      transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
      height: 32px;
      padding: 0px 16px;
      background-color: transparent;
      border-width: 2px;
      border-style: solid;
      border-image: initial;
      border-color: #1fc7d4;
      box-shadow: none;
      color: #1fc7d4;
      min-width: 132px;
      &-arrow {
        filter: invert(77%) sepia(69%) saturate(1875%) hue-rotate(135deg)
          brightness(90%) contrast(84%);
      }
    }
  }
  // card - rowMain
  &-row-main {
    // border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 12px;
    &-card {
      transition: all 0.2s;
      &:hover {
        opacity: 0.65;
        cursor: pointer;
      }
      position: relative;
      background-color: #fff;
      border: 1px solid #e7e3eb;
      border-radius: 8px 8px 8px 56px;
      border-bottom: 5px solid #e7e3eb;
      width: 355px;
      height: 187px;
      padding: 8px;
      &-dark {
        background: #383241;
        border: 1px solid #383241;
        border-radius: 8px 8px 8px 56px;
        border-bottom: 5px solid #383241;
      }
      // card-upper
      &-up {
        .banner-img {
          padding: 0px;
          border: none;
          margin: auto;
          display: block;
          border-radius: 4px;
          min-width: 100%;
          max-width: 100%;
          min-height: 100%;
          max-height: 100%;
        }
      }
      // card-lower
      &-down {
        display: flex;
        // border: 2px solid red;
        flex-direction: column;
        align-items: flex-end;

        &-upper {
          display: flex;
          justify-content: end;
          width: 100%;
          color: #280d5f;
          font-size: 20px;
          font-weight: 600;
        }
        &-lower {
          display: flex;
          justify-content: end;
          align-items: center;
          width: 100%;
          &-volume {
            color: #7a6eaa;
            font-size: 12px;
            margin-right: 5px;
          }
          .icon-img {
            margin-right: 5px;
          }
          &-num {
            color: #280d5f;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
      // absolute-circle
      &-circle {
        position: absolute;
        bottom: 0;
        left: 0;
        // transform: translateX(-1px);
        .avatar-img {
          border: 4px solid white;
          margin-left: 7px;
          z-index: 10;
          border-radius: 50%;
          max-height: 96px;
          max-width: 96px;
          width: 100%;
        }
      }
    }
  }
}

// overview-newest-arrivals
.overview-newest-arrivals {
  padding: 5px 65px;
  padding-top: 20px;
  padding-bottom: 85px;
  &-row1 {
    .newest-arrival {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 32px;
    // border: 2px solid red;
    width: 97.5%;
    margin-bottom: 32px;
    margin-top: 20px;
    &-h3 {
      color: #280d5f;
      font-size: 24px;
      font-weight: 600;
    }
    &-btn {
      align-items: center;
      border-radius: 16px;
      cursor: pointer;
      display: inline-flex;
      font-family: inherit;
      font-size: 16px;
      font-weight: 600;
      -webkit-box-pack: center;
      justify-content: center;
      letter-spacing: 0.03em;
      line-height: 1;
      opacity: 1;
      outline: 0px;
      transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
      height: 32px;
      padding: 0px 16px;
      background-color: transparent;
      border-width: 2px;
      border-style: solid;
      border-image: initial;
      border-color: #1fc7d4;
      box-shadow: none;
      color: #1fc7d4;
      min-width: 132px;
      &-arrow {
        filter: invert(77%) sepia(69%) saturate(1875%) hue-rotate(135deg)
          brightness(90%) contrast(84%);
      }
    }
  }
  &-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;
    grid-template-rows: repeat(auto-fill, 1fr);
    &-card {
      &:hover {
        transition: all 0.2s;
        cursor: pointer;
        opacity: 0.65;
      }
      width: 258px;
      height: 357px;
      background: #ffffff;
      border: 5px solid #e7e3eb;
      border-radius: 8px;
      &-up {
        // height: 50%;
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        // padding-left: 5px;
        // border-bottom: 1px solid #edeaf0;
        & > * {
          margin: 0;
          padding: 7.5px 0px 7.5px 7.5px;
          // border: 2px solid red;
        }
        // up-row1 / banner-ct
        .banner-ct {
          padding: 7.5px;
          border-radius: 8.5px;
          .banner-img-2 {
            border-radius: 8.5px;
            max-height: 320px;
            max-width: 320px;
            width: 100%;
          }
        }
        // row2
        &-row2 {
          margin-top: -8px;
          padding-top: 0;
          padding-bottom: 0;
          color: #7a6eaa;
          font-weight: 400;
          line-height: 1.5;
          font-size: 12px;
        }
        // row3
        &-row3 {
          margin-top: 10px;
          color: #280d5f;
          padding-top: 0;
          padding-bottom: 0;
          line-height: 1.5;
          font-weight: 600;
          font-size: 16px;
        }
      }
      &-down {
        padding-top: 5px;
        border-top: 1px solid #edeaf0;
        margin-left: 7.5px;
        margin-right: 7.5px;
        // padding: 0px 7.5px 0px 7.5px;
        margin-top: 10px;
        margin-bottom: 7.5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 7%;
        // border: 2px solid red;
        &-left {
          display: flex;
          align-items: center;
          color: #7a6eaa;
          font-weight: 400;
          line-height: 1.5;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 12px;
          max-width: 120px;
        }
        &-right {
          display: flex;
          justify-content: space-between;
          align-items: center;
          &-1 {
            color: #7a6eaa;
            font-weight: 400;
            line-height: 1.5;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            max-width: 120px;
            margin-right: 5px;
          }
          &-2 {
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &-3 {
            color: #280d5f;
            line-height: 1.5;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }
  }
}

// overview-faq
.overview-faq {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 45px;
  background: linear-gradient(90deg, #f2ecf2, #e8f2f6);
  // background: red;
  // border: 2px solid red;
  &-card {
    background: #ffffff;
    // height: 429px;
    width: 838px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid #e1d7f0;
    border-bottom: 3.5px solid #e1d7f0;

    & > *:not(:first-child) {
      // border: 2px solid red;

      padding: 30px 20px;
      display: flex;
      align-items: center;
    }
    // &:last-child {
    //   border: none;
    // }
    &-h3 {
      // border: 2px solid red;
      // background-color: transparent;
      background: linear-gradient(90deg, #f2ecf2, #e8f2f6);
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;

      & > * {
        padding-left: 24px;
        padding-right: 24px;
        // margin-left: 24px;
        color: #7645d9;
        font-size: 24px;
        font-weight: 600;
      }
    }
    &-details {
      &-p-div {
        &-2 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          div {
            &:hover {
              cursor: pointer;
              opacity: 0.65;
            }
            display: flex;
            align-items: center;
            color: #1fc7d4;
            font-weight: 600;
            line-height: 1.5;
            font-size: 16px;
            img {
              filter: invert(72%) sepia(94%) saturate(975%) hue-rotate(139deg)
                brightness(86%) contrast(91%);
            }
          }
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 95%;
        color: #7a6eaa;
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        margin-top: 20px;
      }
      color: #280d5f;
      line-height: 1.5;
      font-weight: bold;
      font-size: 16px;
      padding-left: 24px;
      padding-right: 24px;
      // border: 2px solid orangered;
      padding-top: 20px;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      // margin-bottom: 20px;
      & > summary {
        & > div {
          transition: all 0.2s;
          &:hover {
            opacity: 0.65;
            cursor: pointer;
          }
          display: flex;
          align-items: center;
          line-height: 1;
          opacity: 1;
          outline: 0px;
          transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
          height: 48px;
          padding: 0px 24px;
          background-color: transparent;
          color: #1fc7d4;
          .arrow-down-faq {
            filter: invert(72%) sepia(94%) saturate(975%) hue-rotate(139deg)
              brightness(86%) contrast(91%);
          }
        }
        list-style: none;
        display: flex;
        align-items: center;
        width: 100%;
        // border: 2px solid red;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid #e1d7f0;
      }
      & > summary::-webkit-details-marker {
        display: none;
      }
    }
  }
}

// COLLECTIONS

.collect-h3-adj {
  margin: auto;
  font-size: 64px;
  color: #7645d9;
}

.collect-h3-bg-adj {
  padding-top: 20px;
  padding-bottom: 20px;
}

.collect-row1-left {
  width: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  // border: 2px solid red;
  img {
    &:hover {
      cursor: pointer;
      opacity: 0.65;
    }
  }
  .svg-selected {
    filter: invert(97%) sepia(62%) saturate(1997%) hue-rotate(152deg)
      brightness(94%) contrast(85%);
  }
  .svg-normal {
    filter: invert(100%) sepia(13%) saturate(7293%) hue-rotate(177deg)
      brightness(96%) contrast(98%);
  }
}

.collect-row1-right {
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  height: 65px;
  justify-content: space-between;
  h5 {
    margin: 0;
    color: #7a6eaa;
    line-height: 1.5;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
  }
  .collect-select-form {
    margin: 0;
    width: 100%;
    height: 40px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 16px;
    box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
    border: 1px solid #d7caec;
    border-radius: 16px;
    background: #eeeaf4;
    transition: border-radius 0.15s ease 0s;
    & > option {
      color: #280d5f;
      font-weight: 400;
      line-height: 1.5;
      font-size: 16px;

      cursor: pointer;
      width: 100%;
      position: relative;
      background: var(--colors-input);
      border-radius: 16px;
      height: 40px;
      min-width: 136px;
      user-select: none;
      z-index: 20;
    }
  }
}
.collect-down-navigation {
  // border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  .collect-arrow-ct-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    filter: invert(83%) sepia(9%) saturate(97%) hue-rotate(151deg)
      brightness(92%) contrast(92%);
    cursor: pointer;
  }
  .collect-arrow-ct-right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    filter: invert(82%) sepia(57%) saturate(2662%) hue-rotate(136deg)
      brightness(89%) contrast(85%);
    cursor: pointer;
  }
}

// DARK-MODE
.overview-nft-market-dark {
  background: linear-gradient(90deg, #313c5b, #3b2d56);
}

.overview-nft-market-left-p-dark {
  color: #fff;
}

.overview-nft-market-right-search-dark {
  background-color: #372f47;
  border-radius: 16px;
  box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
  color: #f4eeff;
  display: block;
  font-size: 16px;
  height: 40px;
  outline: 0px;
  padding: 0px 16px;
  width: 100%;
  border: 1px solid #262130;
}

.overview-new-collections-dark {
  background: black;
}

.overview-new-collections-row-main-card-dark {
  background: #27262c;

  border-color: #25202b;
}
.overview-new-collections-row-main-card-down-upper-dark {
  color: #fff;
}
.dark-purple {
  color: #443f4d;
}
.overview-new-collections-row1-h3-dark {
  color: #fff;
}

.overview-newest-arrivals-main-card-dark {
  background: #27262c;
  border-color: #25202b;
}

.dark-mode-white {
  color: #fff;
}

.overview-faq-dark {
  background: #3b3b4f;
}

.border-dark {
  border: 2px solid #363140;
}

.bg-faq-dark {
  background: #27262c;
  color: #f4eeff;
}
.link-svg {
  cursor: pointer;
}
