@use "../themes/base-colors" as bc;
@use "../components/buttons" as button;
@mixin common-prop {
  text-transform: uppercase;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-weight: 600;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 20px;
  font-size: 12px;
  padding: 0px 8px;
  background-color: #1fc7d4;
  color: #fff;
}

.swap-container {
  box-sizing: border-box;
  display: flex;
  padding: 32px 32px 0;
  background: linear-gradient(139.73deg, #e5fdff, #f3efff);
  width: 100%;
  align-items: center;

  .swap-main {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;

    .chart-order-combined {
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      width: 50%;
      height: 100%;
      position: relative;
      margin: 0px;
      padding: 0px;
      border: 0px;
      font-size: 100%;
      vertical-align: baseline;

      .chart {
        padding-top: 8px;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #e7e3eb;
        border-radius: 16px;
        width: 100%;
        height: 516px;
        margin-bottom: 48px;

        .chart-header {
          display: flex;
          -webkit-box-pack: justify;
          justify-content: space-between;
          padding-left: 24px;
          padding-right: 24px;

          .chart-leftcontainer {
            display: flex;
            -webkit-box-align: center;
            align-items: center;

            div:nth-of-type(1) {
              display: flex;
              flex-direction: row;
              margin-right: 4px;

              svg {
                margin-right: 4px;
              }
            }

            div:nth-of-type(2) {
              color: #280d5f;
              font-weight: 600;
              line-height: 1.5;
              font-size: 16px;
            }

            button {
              padding: 0px;
              width: 48px;
              @include common-prop();
              background-color: transparent;
              color: #1fc7d4;
              box-shadow: none;

              svg {
                align-self: center;
                fill: #1fc7d4;
                flex-shrink: 0;
                margin-left: 6px;
              }
            }
          }

          .chart-header-rightcontainer {
            display: flex;

            button {
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              border: 0;
              border-radius: 16px;
              cursor: pointer;
              display: inline-flex;
              font-family: inherit;
              font-size: 16px;
              font-weight: 600;
              -webkit-box-pack: center;
              justify-content: center;
              letter-spacing: 0.03em;
              line-height: 1;
              opacity: 1;
              outline: 0px;
              transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
              height: 48px;
              background-color: transparent;
              color: #1fc7d4;
              box-shadow: none;

              svg {
                align-self: center;
                fill: #280d5f;
                flex-shrink: 0;
              }
            }
          }
        }

        .chart-mid {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          -webkit-box-align: center;
          align-items: center;
          padding: 0 24px;

          div:nth-of-type(1) {
            display: flex;
            flex-direction: column;
            padding-top: 12px;

            div:nth-of-type(1) {
              min-height: 20px;
              display: block;
              background-color: #e9eaeb;
              height: 36px;
              width: 128px;
            }

            div:nth-of-type(2) {
              color: #7645d9;
              background-color: transparent;
              border: none;
              font-weight: 400;
              line-height: 1.5;
              font-size: 14px;
            }
          }

          //right graph 24w-1w-1m-1y
          div:nth-of-type(2) {
            background-color: #eff4f5;
            border-radius: 16px;
            display: inline-flex;
            border: 1px solid #e9eaeb;
            width: auto;

            button {
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              border: 0px;
              border-radius: 16px;
              cursor: pointer;
              display: inline-flex;
              font-family: inherit;
              font-size: 16px;
              font-weight: 600;
              -webkit-box-pack: center;
              justify-content: center;
              letter-spacing: 0.03em;
              line-height: 1;
              opacity: 1;
              outline: 0px;
              transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
              height: 32px;
              padding: 0px 16px;
              flex: 1 1 auto;
              align-content: center;
              margin-left: 2px;
              color: #1fc7d4;
              opacity: 0.65;
            }

            button:nth-of-type(1) {
              background-color: #1fc7d4;
              color: #fff;
              opacity: 1;
            }
          }
        }

        .chart-graph {
          position: relative;

          .chart-waiting {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 50%;
            left: 0px;
            right: 0px;
            text-align: center;
            box-sizing: border-box;

            div {
              color: #7a6eaa;
              font-weight: 400;
              line-height: 1.5;
              font-size: 20px;
            }
          }
        }
      }

      .swap-orders {
        width: 100%;
        height: 100%;
        overflow: inherit;
        background: #fff;
        border-radius: 24px;
        margin-bottom: 24px;

        .swap-orders-top {
          border-radius: 16px;
          display: inline-flex;
          width: 100%;
          background-color: #eeeaf4;
          border: 0px;

          button:nth-of-type(1) {
            cursor: pointer;
            display: inline-flex;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 48px;
            padding: 0px 24px;
            position: relative;
            align-items: center;
            border: 0px;
            border-radius: 16px;
            flex: 1 1 auto;
            box-shadow: none;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            color: #280d5f;
            background-color: #fff;
          }

          button:nth-of-type(2) {
            cursor: pointer;
            display: inline-flex;
            font-size: 16px;
            font-weight: 600;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 48px;
            padding: 0px 24px;
            position: relative;
            align-items: center;
            border: 0px;
            border-radius: 16px;
            flex: 1 1 auto;
            box-shadow: none;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            color: #7a6eaa;
            background-color: #eeeaf4;
          }
        }

        .swap-orders-header {
          max-width: 100%;
          width: 100%;
          border-bottom: 1px solid #e7e3eb;

          th.order-header-list {
            padding: 16px;
            color: #7a6eaa;
            font-size: 10px;
            text-transform: uppercase;
          }
        }

        .swap-orders-main {
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          flex-direction: column;
          padding: 24px;

          div {
            color: #bdc2c4;
            font-weight: 400;
            line-height: 1.5;
            font-size: 16px;
          }
        }

        .swap-orders-bottom {
          display: grid;
          gap: 16px;
          grid-template-columns: 1fr 2fr 1fr;
          margin-top: 16px;
          margin-bottom: 16px;
          padding-left: 16px;
          padding-right: 16px;

          //page 1 of 1
          div:nth-of-type(2) {
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            width: 100%;

            .swap-orders-bottom-arrows {
              cursor: pointer;

              svg {
                fill: #bdc2c4;
              }
            }
          }
        }
      }
    }
  }
}

.converter-bottom-combined {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;

  .converter-container {
    padding: 0px 40px;

    .converter-br-mid {
      border-bottom: 1px solid #e7e3eb;
      padding: 24px;
      background-color: #fff;
      display: flex;

      div:nth-of-type(1) {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        justify-content: space-between;
        width: 100%;

        button {
          color: #7a6eaa;
          padding: 0px;
          width: 32px;
          position: relative;
          -webkit-box-align: center;
          align-items: center;
          border: 0px;
          border-radius: 16px;
          cursor: pointer;
          display: inline-flex;
          font-family: inherit;
          font-size: 16px;
          font-weight: 600;
          -webkit-box-pack: center;
          justify-content: center;
          letter-spacing: 0.03em;
          line-height: 1;
          opacity: 1;
          outline: 0px;
          transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
          height: 32px;
          background-color: transparent;
          box-shadow: none;
          fill: #7a6eaa;
        }

        h2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin: auto;
          font-size: 20px;
          font-weight: 600;
          line-height: 1.1;
        }

        div {
          display: flex;
          width: max-content;

          button {
            padding: 0px;
            width: 32px;
            width: max-content;
          }
        }
      }

      div:nth-of-type(2) {
        color: #7a6eaa;
        font-weight: 400;
        line-height: 1.5;
        font-size: 14px;
        text-align: center;
      }
    }

    .swap-page {
      background-color: #fff;
      min-height: 412px;
      position: relative;
      display: flex;
      flex-direction: column;
      -webkit-box-pack: justify;
      justify-content: space-between;
      padding: 1rem;

      .swap-page-top {
        display: grid;
        grid-auto-rows: auto;
        row-gap: 8px;

        .bridge-currency-from {
          padding: 8px;

          &-container {
            label {
              font-size: 0.875rem;
              transform: translateY(0) scale(0.9);
              line-height: 1.25rem;
              letter-spacing: 0.25px;
            }

            //from
            .bridge-currency123 {
              display: flex;
              border: 1px;
              height: 4.4375rem;
              display: flex;
              overflow: hidden;
              border-color: #e7e3eb;
              border-style: solid;
              border-radius: 18px;

              //token
              .from-token123 {
                flex-grow: 213;
                flex-shrink: 1;
                border-right: 1px;
                border-right-color: #e7e3eb;
                border-right-style: solid;
                width: 100%;
                cursor: pointer;
                position: relative;
                border-radius: 0;

                label {
                  font-size: 0.875rem;
                  transform: translateY(3px) scale(0.9);
                  line-height: 1.25rem;
                  letter-spacing: 0.25px;
                  z-index: 1;
                  pointer-events: none;
                  transform-origin: top left;
                  position: absolute;
                  padding-left: 1rem;
                }

                div:nth-of-type(1) {
                  background-color: #eeeaf4;
                  border-color: #e7e3eb;
                  font-weight: 400;
                  line-height: 1.1876em;
                  letter-spacing: 0.03125rem;
                  display: inline-flex;
                  position: relative;
                  align-items: center;
                  padding: 8px 2px;
                  cursor: default;
                  div:nth-of-type(1) {
                    padding-left: 1rem;
                    svg,
                    img {
                      width: 18px;
                    }
                  }

                  select {
                    cursor: pointer;
                    outline: none;
                    padding: 17px 16px;
                    padding-top: 18px;
                    background-color: transparent;
                    border: none;
                    text-align: left;
                    width: 196px;
                  }
                }
              }

              //network
              div:nth-of-type(2) {
                flex-grow: 213;
                flex-shrink: 1;
                border-right: 1px;
                border-right-color: #e7e3eb;
                border-right-style: solid;
                width: 100%;
                cursor: pointer;
                position: relative;
                margin: 0;

                label {
                  font-size: 0.875rem;
                  transform: translateY(3px) scale(0.9);
                  line-height: 1.25rem;
                  letter-spacing: 0.25px;
                  z-index: 1;
                  pointer-events: none;
                  transform-origin: top left;
                  position: absolute;
                  padding-left: 1rem;
                }

                div:nth-of-type(1) {
                  background-color: #eeeaf4;
                  border-color: #e7e3eb;
                  font-weight: 400;
                  line-height: 1.1876em;
                  letter-spacing: 0.03125rem;
                  display: inline-flex;
                  position: relative;
                  align-items: center;
                  padding: 8px 2px;
                  cursor: default;

                  div:nth-of-type(1) {
                    padding-left: 1rem;
                    cursor: default;
                  }

                  select {
                    outline: none;
                    padding: 17px 16px;
                    padding-top: 18px;
                    background-color: transparent;
                    border: none;
                    text-align: left;
                    cursor: pointer;
                  }
                }
              }
            }
          }

          .swap-currency-output {
            div:nth-of-type(1) {
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              justify-content: flex-start;

              button {
                padding: 0px 0.5rem;
                background-color: transparent;
                position: relative;
                -webkit-box-align: center;
                align-items: center;
                border: 0px;
                border-radius: 16px;
                cursor: pointer;
                display: inline-flex;
                font-size: 16px;
                font-weight: 600;
                -webkit-box-pack: center;
                justify-content: center;
                letter-spacing: 0.03em;
                line-height: 1;
                opacity: 1;
                outline: 0px;
                transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                height: 32px;

                div {
                  display: flex;

                  img {
                    margin-right: 8px;
                  }

                  #pair {
                    color: var(--colors-text);
                    font-weight: 600;
                    line-height: 1.5;
                    font-size: 16px;
                  }
                }
              }

              div {
                display: flex;
                margin-left: 4px;
                align-items: center;
                gap: 4x;

                svg {
                  align-self: center;
                  fill: #7a6eaa;
                  flex-shrink: 0;
                }

                #token-copied {
                  display: none;
                }
              }
            }

            div:nth-of-type(2) {
              display: flex;
              flex-flow: column nowrap;
              position: relative;
              z-index: 1;

              label {
                border-radius: 16px;
                background-color: #eeeaf4;

                div:nth-of-type(1) {
                  display: flex;
                  flex-flow: row nowrap;
                  -webkit-box-align: center;
                  align-items: center;
                  color: var(--colors-text);
                  font-size: 0.75rem;
                  line-height: 1rem;
                  padding: 0.75rem 1rem 0px;

                  input {
                    text-align: left;
                    background-color: #eeeaf4;
                    width: 0;
                    position: relative;
                    font-weight: 500;
                    outline: none;
                    border: none;
                    flex: 1 1 auto;
                    background-color: transparent;
                    font-size: 16px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 0;
                    color: #280d5f;
                  }
                }

                div:nth-of-type(2) {
                  padding: 0.75rem 0.75rem 0.75rem 1rem;
                }
              }
            }
          }

          .swap-currency-buttoncontainer {
            width: 100%;
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            flex-wrap: wrap;
            -webkit-box-pack: center;
            justify-content: center;
            padding: 0px px 1rem;

            button {
              padding: 0px;
              width: 32px;
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              border: 0px;
              border-radius: 16px;
              cursor: pointer;
              display: inline-flex;
              font-size: 16px;
              font-weight: 600;
              -webkit-box-pack: center;
              justify-content: center;
              letter-spacing: 0.03em;
              line-height: 1;
              opacity: 1;
              outline: 0px;
              transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
              height: 32px;
              padding: 0px 16px;
              background-color: #eeeaf4;
              color: #7a6eaa;
              box-shadow: none;

              svg:nth-of-type(1) {
                align-self: center;
                fill: #1fc7d4;
                flex-shrink: 0;
              }

              svg:nth-of-type(2) {
                display: none;
              }
            }
          }

          .converter-price-market {
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-start;

            #converter-price-market-price {
              color: #7645d9;
              font-weight: 600;
              line-height: 1.5;
              text-transform: uppercase;
              margin-right: 8px;
              font-size: 12px;
            }

            button {
              display: flex;
              background-color: transparent;
              border-color: #e9eaeb;
              box-shadow: none;
              color: #bdc2c4;
              cursor: not-allowed;
              border-width: 2px;
              border-style: solid;
              border-image: initial;
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              border-radius: 16px;
              display: inline-flex;
              font-family: inherit;
              font-weight: 600;
              -webkit-box-pack: center;
              justify-content: center;
              letter-spacing: 0.03em;
              line-height: 1;
              opacity: 1;
              outline: 0px;
              transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
              height: 20px;
              font-size: 12px;
              padding: 0px 8px;

              svg {
                fill: #bdc2c4;
              }
            }

            div {
              display: flex;
              justify-content: space-evenly;

              svg {
                align-self: center;
                fill: #7a6eaa;
                flex-shrink: 0;
                margin-left: 4px;
              }
            }
          }

          input {
            background-color: #e9eaeb;
            box-shadow: none;
            color: #bdc2c4;
            cursor: text;
            text-align: left;
            border-radius: 16px;
            display: block;
            font-size: 16px;
            height: 40px;
            outline: 0px;
            padding: 0px 16px;
            border: 1px solid #d7caec;
          }

          .converter-switch {
            display: flex;
            -webkit-box-pack: end;
            justify-content: flex-end;
            -webkit-box-align: center;
            align-items: center;
            cursor: pointer;

            div {
              color: #280d5f;
              font-weight: 600;
              line-height: 1.5;
              font-size: 14px;
            }

            svg {
              align-self: center;
              fill: #7a6eaa;
              flex-shrink: 0;
              margin-left: 4px;
            }
          }

          #converter-limit-empty {
            display: flex;
            justify-self: flex-end;
            min-height: 16px;
            margin-bottom: 8px;
          }
        }

        //connect wallet
        .bridge-connect-wallet {
          button {
            position: relative;
            -webkit-box-align: center;
            align-items: center;
            border: 0px;
            border-radius: 16px;
            box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
            cursor: pointer;
            display: inline-flex;
            font-family: inherit;
            font-size: 16px;
            font-weight: 600;
            -webkit-box-pack: center;
            justify-content: center;
            letter-spacing: 0.03em;
            line-height: 1;
            opacity: 1;
            outline: 0px;
            transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
            height: 48px;
            padding: 0px 24px;
            background-color: #1fc7d4;
            color: #fff;
            width: 100%;
          }
        }
      }
    }

    .swap-bottom-container {
      width: 100%;
      height: 100%;

      .swap-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        -webkit-box-align: center;
        align-items: center;
        padding-top: 16px;
        padding-right: 0px;

        .swap-bottom-left {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0px;
          padding: 0px;
          border: 0px;
          font-size: 100%;
          vertical-align: baseline;

          #version {
            background-color: #eeeaf4;
            border-radius: 16px;
            display: inline-flex;
            border: 1px solid #d7caec;
            width: auto;
            margin: 0px;
            padding: 0px;
            font-size: 100%;
            vertical-align: baseline;

            button {
              box-shadow: none;
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              border: 0px;
              border-radius: 16px;
              display: inline-flex;
              font-family: inherit;
              font-size: 16px;
              font-weight: 600;
              -webkit-box-pack: center;
              justify-content: center;
              letter-spacing: 0.03em;
              line-height: 1;
              opacity: 1;
              outline: 0px;
              transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
              height: 32px;
              padding: 0px 16px;
              background-color: #7a6eaa;
              color: #fff;
            }

            a {
              cursor: pointer;
              display: inline-flex;
              font-family: inherit;
              font-size: 16px;
              font-weight: 600;
              -webkit-box-pack: center;
              justify-content: center;
              letter-spacing: 0.03em;
              line-height: 1;
              opacity: 1;
              outline: 0px;
              transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
              height: 32px;
              padding: 0px 16px;
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              border: 0px;
              border-radius: 16px;
              text-decoration: none;
              background-color: transparent;
              color: #7a6eaa;
            }

            a:hover,
            button:hover {
              opacity: 0.65;
            }
          }

          #ercBridge {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            width: fit-content;
            margin-left: 40px;
            margin-top: 20px;
            margin-bottom: 0px;
            text-decoration: none;
            color: #1fc7d4;
            font-weight: 600;
            line-height: 1.5;
            font-size: 16px;

            svg {
              fill: #1fc7d4;
            }
          }
        }

        .swap-bottom-right {
          display: flex;
          -webkit-box-flex: 1;
          flex-grow: 1;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: end;
          justify-content: flex-end;
          width: auto;
          margin-top: 15px;

          div:nth-of-type(1) {
            display: flex;

            a {
              position: relative;
              -webkit-box-align: center;
              align-items: center;
              border: 0px;
              border-radius: 16px;
              box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
              cursor: pointer;
              display: inline-flex;
              font-family: inherit;
              font-size: 16px;
              font-weight: 600;
              -webkit-box-pack: center;
              justify-content: center;
              letter-spacing: 0.03em;
              line-height: 1;
              opacity: 1;
              outline: 0px;
              transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
              height: 48px;
              padding: 0px 24px;
              background-color: #7a6eaa;
              color: #fff;
              text-decoration: none;
            }

            svg {
              fill: #7a6eaa;
            }
          }
        }

        div:nth-of-type(2) {
          img {
            float: left;
          }
        }
      }
    }
  }
}
.powered-by-stargate {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 16px;

  a {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: fit-content;

    img {
      height: auto;
      max-width: 100%;
      margin-left: 6px;
    }
  }
}

#bridge-footer-bottom-item > div {
  background-color: #bdc2c4;
}

#bridge-footer-bottom-item {
  width: 90px;

  .footer__section__bottom--item-1__dark-mode-container_light {
    padding: 3px;
    background-color: transparent;
    border-radius: 50%;
  }

  .footer__section__bottom--item-1__dark-mode-container_light > svg {
    fill: #black;
  }
  .footer__section__bottom--item-1__dark-mode-container_dark > svg {
    fill: white;
  }
}

.bridge-receive {
  display: flex;
  min-height: 80px;
  height: max-content;
  details {
    display: flex;
  }
}

.swap-currency-buttoncontainer > button {
  background-color: white;
}

body > nav > div.header__navbar__left.flex-row > ul > li:nth-child(1) > a {
  color: #7645d9;
  font-weight: 600;
}

.deneme123 {
  display: flex;
  background-color: #eeeaf4;
  border-radius: 16px;
  margin: 0px 8px;

  #total-amount123 {
    text-align: left;
    background-color: #eeeaf4;
    border: none;
    flex-grow: 1;
    border: none;
  }

  button {
    background-color: #eeeaf4;
    border: 1px solid #1fc7d4;
    font-size: 0.75rem;
    width: 48px;
    max-height: 25px;
    font-family: Roboto;
    font-weight: 400;
    align-self: center;
    margin-right: 14px;
    border-radius: 16px;
    color: #1fc7d4;
    cursor: pointer;
  }
}

#converter-bridge {
  width: 420px; // geçici 428px
  background: #e7e3eb;
  color: #280d5f;
  overflow: hidden;
  position: relative;
  padding: 1px 1px 3px;
  border-radius: 24px;
}

#absolute-slider-bridge-left {
  background-color: #fff;
  transition: 0ms;
}
#absolute-slider-bridge-right {
  transition: 0ms;
}

#bridge-navbar-DM {
  background-color: #27262c;
  border: none;
  transform: scale(1.0108);
  li {
    a {
      color: #b8add2;
    }
  }
}

#bridge-main-container-DM {
  transform: scale(1.0108);
  background: linear-gradient(139.73deg, #313d5c, #3d2a54);
  color: #fff;
  #bridge-main-DM {
    background: linear-gradient(139.73deg, #313d5c, #3d2a54);
  }
  .swap-page {
    background-color: #27262c;
    color: #fff;
  }
  #converter-bridge {
    background-color: transparent;
  }
  .converter-br-mid {
    background-color: #27262c;
    border-bottom: 1px solid #383241;
  }
  h2 {
    color: #fff;
  }
  label {
    color: #fff;
  }
  .from-token123 {
    div:nth-of-type(1) {
      background-color: #372f47;
      color: #fff;
      select {
        color: #fff;
        background-color: #372f47;
      }
    }
  }
  .bridge-currency123 {
    border: 0px;
    .from-token123 {
      border: 0px;
    }
    div:nth-of-type(2) {
      border: 0px;
      div:nth-of-type(1) {
        background-color: #372f47;
        color: #fff;
        select {
          color: #fff;
          background-color: #372f47;
        }
      }
    }
  }
  .powered-by-stargate {
    color: #b8add2;
  }
  .deneme123 {
    background-color: #372f47;
    input {
      background-color: #372f47;
    }
    button {
      background-color: transparent;
    }
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #eeeaf4;
  border-radius: 0.625rem;
}
::-webkit-scrollbar-thumb {
  background: bc.$nav-text;
  border-radius: 0.5rem;
}
