// For footer by güneş (We can make it together also for the shared colors)
$main-purple: #8d62e8;
$main-purple-i: purple;

$bg-footer: #27262c;

$main-text: #e0daea;
$yellow-list: #cf9233;

$dark-light-mode-container-bg: #666171;
$dark-light-mode-active-shadow: #6e50ab;

$footer-world-icon: #b8add2;

$button-color-main: #1fc7d4;
