// For footer by güneş (We can make it together also for the shared colors)
$main-purple: #8d62e8;
$main-purple-i: purple;

$bg-footer: #27262c;

$main-text: #e0daea;
$yellow-list: #cf9233;

$dark-light-mode-container-bg: #666171;
$dark-light-mode-active-shadow: #6e50ab;

$footer-world-icon: #b8add2;

$button-color-main: #1fc7d4;

// Home 2 Light

$h2-bg-light: rgb(255, 255, 255);
$h2-bg-light-gradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(216, 203, 237, 1) 100%
);
$h2-cards-light: #ffff;
$h2-header-text-light: #280d5f;
$h2-sub-text-light: #7a6eaa;
$h2-card-1-light: #7645d9;
$h2-card-2-light: #1fc7d4;
$h2-card-3-light: #ed4b9e;

// Home 3 Light
$h3-bg-light-gradient: linear-gradient(
  90deg,
  rgba(241, 236, 242, 1) 0%,
  rgba(233, 241, 246, 1) 100%
);

$h3-span-text: #7645d9;
$h3-header-text: #280d5f;
$h3-sub-text-light: #7a6eaa;
$h3-border-color: #d7caec;
