// #################################
// #################################
// ######For home-5 by güneş########
// #################################
// #################################
$home-5-bg-i: #74b8f1;
$home-5-bg-ii: #e1edf5;
$home-5-bg-iii: #d3e8fa;

// Cards in home-5
$card-left-i: #ffb63b;
$card-left-ii: #ffe568;
$card-left-border: #ffb237;
$card-left-text-i: #280d5f;

$card-right-i: #7544d7;
$card-right-ii: #5222b2;
$card-right-border: #411a8e;
$card-right-border-i: #3c1786;
// ######################################################################################
// ######################################################################################
// ######For footer by güneş (We can make it together also for the shared colors)########
// ######################################################################################
// ######################################################################################

$main-purple: #8d62e8;
$main-purple-i: purple;

$bg-footer: #27262c;

$main-text: #e0daea;
$yellow-list: #cf9233;

$dark-light-mode-container-bg: #666171;
$dark-light-mode-active-shadow: #6e50ab;

$footer-world-icon: #b8add2;

$button-color-main: #1fc7d4;



//NAVBAR 
$nav-background:#fff;
$nav-border:#e7e3eb;
$nav-text:#7a6eaa;
$nav-hover:#eff4f5;
$nav-text2:#280d5f;
$nav-text2-active:#7645d9;
