@use "../base/helpers"as helper;
@use "../themes/base-colors"as bc;

body {
  width: calc(100vw - 0.5rem);
}

h2,
p {
  margin: 0;
  padding: 0;
}

%button {
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  border-radius: 1rem;
  color: #fff;
  border-color: #25a9b2;
  background-color: bc.$button-color-main;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  height: 3rem;
  padding: 0px 1.5rem;
}

%buttonClick {
  &:active {
    opacity: 0.85;
    transform: translateY(1px);
    box-shadow: none;
  }
}

%hoverEffect {
  &:hover {
    opacity: 0.65;
  }
}

.lottery {
  background-image: url(../../../public/assets/lottery/deneme.svg), linear-gradient(rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  width: 100%;
  height: 31.0625rem;
  clip-path: ellipse(210rem 24rem at 50% 20%);

  position: relative;

  &__hero {
    align-items: center;
    padding: 6rem 1.5rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    &__contents {
      align-items: center;

      h2 {
        font-size: 1.25rem;
        font-weight: 600;
        line-height: 1.1;
        color: rgb(255, 255, 255);
        margin: 0;
      }

      P {
        font-weight: 600;
        line-height: 1.5;
        font-size: 64px;
        margin: 0;
        background: -webkit-linear-gradient(#fecb19, #fdba2c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      :first-child {
        margin-bottom: 0.5rem;
      }

      :last-child {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }

    &__buy {
      position: relative;
      align-items: center;
      @include helper.swing-sides(4);

      z-index: 1000;

      img {
        width: 280px;
        height: 130px;
        position: absolute;
      }

      button {
        color: #ffffff;
        font-weight: 600;
        letter-spacing: 0.5px;
        width: 240px;
        padding: 10px 30px;
        background: #5f38ac;
        background: linear-gradient(rgb(118, 69, 217) 0%,
            rgb(69, 42, 122) 100%);
        box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset;
        border: none;
        border-radius: 1rem;
        position: absolute;
        top: 2.5rem;

        cursor: pointer;

        &:active {
          opacity: 0.85;
          transform: translateY(1px);
          box-shadow: none;
        }

        @extend %hoverEffect;
      }
    }
  }

  &__images {
    position: absolute;
    width: 100%;
    height: 100%;

    &__container {
      position: relative;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
      }

      :nth-child(1) {
        width: 124px;
        height: 109px;

        left: 19%;
        top: 42%;

        @include helper.lottery-jump(star, 3, 0.25);
      }

      :nth-child(2) {
        width: 70px;
        height: 62px;

        left: 25%;
        top: 23%;

        @include helper.lottery-jump(star, 3.5, 0.5);
      }

      :nth-child(3) {
        width: 130px;
        height: 144px;

        right: 19%;
        top: 24%;

        @include helper.lottery-jump(star-three, 4, 0.75);
      }

      :nth-child(4) {
        width: 123px;
        height: 83px;

        left: 24%;
        top: 67%;

        @include helper.lottery-jump(ticket-l, 6, 0.2);
      }

      :nth-child(5) {
        width: 121px;
        height: 72px;

        right: 24%;
        top: 67%;

        @include helper.lottery-jump(ticket-r, 6, 0);
      }
    }
  }

  &__footer {
    width: 100%;
    height: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(118, 69, 217);
  }
}

.tickets {
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  padding: 0.875rem 0 3rem;
  align-items: center;
  margin-top: -1.875rem;

  &__container {
    padding: 4.5rem 1.5rem 3rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;

    &__title {
      font-size: 40px;
      font-weight: 600;
      line-height: 1.1;
      color: rgb(255, 255, 255);
      margin-bottom: 24px;
      text-align: center;
    }

    &__time {
      align-items: flex-end;
      margin-bottom: 48px;

      h2 {
        margin: 0;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.1;
        color: rgb(255, 255, 255);
      }

      div {
        align-items: flex-end;

        h2 {
          font-size: 40px;
          margin-right: 4px;
          background: -webkit-linear-gradient(#fecb19, #fdba2c);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        :nth-child(even) {
          font-size: 20px;
          margin-right: 12px;
        }

        :nth-child(odd) {
          margin-bottom: -4px;
        }
      }
    }

    &__table {
      width: 47.25rem;
      max-width: 80vw;

      background: #e7e3eb;
      border-radius: 24px;
      color: #280d5f;
      overflow: hidden;
      position: relative;
      padding: 1px 1px 3px;

      &__container {
        width: 100%;
        height: 100%;
        overflow: inherit;
        background: #fff;
        border-radius: 24px;

        h2 {
          font-size: 20px;
          font-weight: 600;
          line-height: 1.1;
        }

        .table__top {
          background: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
          border-radius: 24px 24px 0 0;
          padding: 16px 24px;
          justify-content: space-between;
        }

        .table__body {
          padding: 24px;

          h2 {
            margin-right: 3.5rem;
          }

          &--1 {
            div {
              margin-bottom: 18px;

              h2 {
                color: #7645d9;
                font-weight: 600;
                font-size: 40px;
                text-align: left;
                line-height: 1;
              }

              p {
                color: #7a6eaa;
                font-weight: 400;
                line-height: 1.5;
                font-size: 14px;
              }
            }
          }

          .table__body--2 {
            button {
              @extend %button;
              @extend %hoverEffect;

              &:active {
                opacity: 0.85;
                box-shadow: none;
                transform: translateY(1px);
              }
            }
          }
        }
      }
    }
  }
}

.table__details {
  border-top: 1px solid #e7e3eb;
  padding: 0px;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  height: 48px;
  cursor: pointer;

  &:active {

    a,
    svg {
      opacity: 0.85;
      transform: translateY(1px);
      box-shadow: none;
    }
  }

  a {
    text-decoration: none;
    color: #1fc7d4;
    font-size: 1rem;
    font-weight: 600;
  }

  svg {
    margin-left: 0.5rem;
  }
}

.wallet {
  background: linear-gradient(139.73deg,
      rgb(49, 61, 92) 0%,
      rgb(61, 42, 84) 100%);
  padding: 6rem 0;
  width: 100%;

  align-items: center;
  justify-content: center;

  &__image {
    height: 100px;
  }

  &__contents {
    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      color: rgb(244, 238, 255);
      margin-bottom: 24px;
      text-align: center;
    }

    button {
      @extend %button;
      @extend %hoverEffect;

      &:active {
        opacity: 0.85;
        box-shadow: none;
        transform: translateY(1px);
      }
    }
  }
}

.rounds {
  position: relative;
  align-items: center;
  padding: 48px 0px;
  background: linear-gradient(rgb(203, 215, 239) 0%, rgb(154, 159, 208) 100%);
  max-width: 100%;

  &__container {
    padding: 48px 24px;
    align-items: center;

    h2 {
      font-size: 40px;
      font-weight: 600;
      line-height: 1.1;
      margin-bottom: 24px;
      color: #280d5f;
    }

    .rounds__history {
      margin-bottom: 24px;
      background-color: #eeeaf4;
      border-radius: 16px;
      display: inline-flex;
      border: 1px solid #d7caec;
      width: auto;

      button {
        border: 0px;
        border-radius: 16px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.03em;
        line-height: 1;
        opacity: 1;
        outline: 0px;
        height: 32px;
        padding: 0px 16px;
        background-color: #7a6eaa;
        color: #fff;
      }

      :last-child {
        background-color: transparent;
        color: #7a6eaa;
      }
    }

    .rounds__table {
      width: 756px;
      background: #e7e3eb;
      border-radius: 24px;
      color: #280d5f;
      overflow: hidden;
      position: relative;
      padding: 1px 1px 3px;

      .table {
        &__container {
          width: 100%;
          height: 100%;
          overflow: inherit;
          background: #fff;
          border-radius: 24px;
        }

        &__top {
          background: none;
          border-bottom: 1px #e7e3eb solid;
          border-radius: 24px 24px 0 0;
          padding: 24px;

          .top__input {
            justify-content: space-between;
            align-items: center;

            div {
              align-items: center;
            }

            h2 {
              margin: 0;
              font-size: 20px;
              font-weight: 600;
              line-height: 1.1;
              margin-right: 8px;
            }

            input {
              width: 30px;
              height: 100%;
              padding: 4px 16px;
              background-color: #eeeaf4;
              border-radius: 16px;
              box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
              color: #280d5f;
              display: block;
              outline: 0px;
              border: 1px solid #d7caec;

              &:focus {
                box-shadow: 0px 0px 0px 1px #7645d9,
                  0px 0px 0px 4px rgba(118, 69, 217, 0.6);
              }
            }

            button {
              width: 32px;
              position: relative;
              align-items: center;
              border: 0px;
              border-radius: 16px;
              cursor: pointer;
              display: inline-flex;
              font-size: 16px;
              font-weight: 600;
              justify-content: center;
              letter-spacing: 0.03em;
              line-height: 1;
              opacity: 1;
              outline: 0px;
              height: 32px;
              background-color: transparent;
              color: #1fc7d4;
              box-shadow: none;

              &:not(:last-child) {
                margin-right: 4px;
              }

              &:not(:first-child) {
                border-color: #e9eaeb;
                box-shadow: none;

                svg {
                  fill: #bdc2c4;
                }

                cursor: not-allowed;
              }

              svg {
                fill: #280d5f;
              }
            }
          }

          .top__date {
            margin-top: 8px;

            p {
              color: #280d5f;
              font-weight: 400;
              line-height: 1.5;
              font-size: 14px;
            }
          }
        }

        &__body {
          padding: 24px;
          overflow: hidden;
          align-items: center;
          position: relative;

          h2 {
            font-size: 20px;
            font-weight: 600;
            line-height: 1.1;
            margin-bottom: 49px;
            margin-right: 72px;
          }

          .body_latest {
            right: -10px;
            top: -10px;
            z-index: 9;
            background-color: #7645d9;
            margin: 0px;
            padding: 8px 0px;
            position: absolute;
            text-align: center;
            transform: translateX(30%) translateY(0%) rotate(45deg);
            transform-origin: left top;
            width: 96px;

            h2 {
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              width: 96px;
              text-align: center;
              color: white;
              margin: 0;
              font-weight: 400;
              font-size: 16px;

              &::before,
              &::after {
                background-color: #7645d9;
                content: "";
                height: 100%;
                margin: 0px -1px;
                position: absolute;
                top: 0px;
                width: 100%;
              }

              &::before {
                right: 100%;
              }

              &::after {
                left: 100%;
              }
            }
          }

          .body_number {
            justify-content: space-between;
            margin-right: 32px;

            div {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              margin-left: 2px;
              margin-right: 2px;

              &:first-of-type,
              &:last-of-type {
                p {
                  transform: rotate(6deg);
                }
              }

              &:nth-of-type(2) {
                p {
                  transform: rotate(20deg);
                }
              }

              &:nth-of-type(3) {
                p {
                  transform: rotate(-14deg);
                }
              }

              &:nth-of-type(4) {
                p {
                  transform: rotate(25deg);
                }
              }

              &:nth-of-type(5) {
                p {
                  transform: rotate(-24deg);
                }
              }

              img {
                width: 71px;
                height: 71px;
              }

              p {
                font-size: 42px;
                font-weight: 600;
                line-height: 1.5;
                margin: 0;

                position: absolute;
                top: 4%;
                left: 30%;

                color: rgb(0, 0, 0);
                text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px,
                  white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
              }
            }
          }
        }
      }
    }
  }

  padding-bottom: 62px;
}

.howtoplay {
  background-color: white;
  margin-top: -14px;
  padding: 14px 0px 48px;
  align-items: center;
  flex-direction: column;
  clip-path: ellipse(450% 100% at 50% 100%);

  h2 {
    color: #7645d9;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.1;
  }

  h3 {
    color: #280d5f;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    margin: 0;
  }

  p {
    color: #7a6eaa;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
  }

  ul {
    list-style-type: none;
    margin-left: 8px;
    padding: 0px;
    list-style: inside disc;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  li {
    color: #7a6eaa;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;

    &::before {
      content: "•";
      margin-right: 4px;
      color: #7a6eaa;
    }
  }

  a {
    color: #1fc7d4;
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__container {
    padding-top: 48px;
    padding-bottom: 48px;
    min-height: auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    align-items: center;

    h2 {
      margin-bottom: 24px;
    }

    h3 {
      margin-bottom: 48px;
      text-align: center;
    }

    &--row {
      gap: 24px;
    }

    .title__card {
      align-self: baseline;
      position: relative;
      background: #e7e3eb;
      padding: 1px 1px 3px;
      border-radius: 24px;
      width: 100%;

      .card__container {
        border-radius: 24px;
        padding: 24px;
        background-color: #fff;
        height: 152px;

        h3 {
          font-weight: 600;
          line-height: 1.5;
          text-transform: uppercase;
          margin-bottom: 16px;
          font-size: 12px;
          text-align: right;
        }

        h2 {
          font-size: 24px;
          margin-bottom: 16px;
          line-height: 1.1;
        }
      }
    }
  }

  &__winning {
    gap: 24px;

    .winning__text {
      flex: 2 1 0%;
    }

    h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 24px;
      text-align: left;
    }

    ul {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .winning__table {
      align-self: baseline;
      position: relative;
      background: #e7e3eb;
      padding: 1px 1px 3px;
      border-radius: 24px;
      width: 330px;
      margin-right: 24px;
      margin-left: 24px;

      .table {
        &__container {
          padding: 24px;
          background: #fff;
          border-radius: 24px;
        }

        &__row1 {
          gap: 15px;
          padding-left: 40px;
          align-items: center;
          width: 100%;

          .row__element {
            position: relative;
            margin-left: 2px;
            margin-right: 2px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 24px;
              height: 24px;
            }

            p {
              font-weight: 600;
              line-height: 1.5;
              font-size: 14px;
              color: rgb(0, 0, 0);
              text-shadow: white -0.75px -0.75px 0px, white 0.75px -0.75px 0px,
                white -0.75px 0.75px 0px, white 0.75px 0.75px 0px;
              position: absolute;
              top: 45%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }
        }

        &__row2,
        &__row3 {
          p {
            color: #7645d9;
            font-weight: 600;
            margin-right: 20px;
            line-height: 72px;
            text-align: right;
            font-size: 16px;
          }

          img {
            width: 258px;
            height: 46px;
            align-self: center;
          }
        }
      }
    }
  }

  &__prize {
    gap: 24px;

    h2 {
      font-size: 24px;
      margin-bottom: 24px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 16px;
      margin-bottom: 16px;
      text-align: left;
    }

    ul {
      margin-top: 16px;
      margin-bottom: 16px;
    }

    .prize__table {
      min-width: 380px;
      display: flex;
      align-self: baseline;
      position: relative;
      background: #e7e3eb;
      padding: 1px 1px 3px;
      border-radius: 24px;
      margin-left: 42px;

      .table {
        &__container {
          width: 100%;
          padding: 24px;
          background: #fff;
          border-radius: 24px;
        }

        &__chart {
          align-self: center;
          margin-bottom: 32px;

          img {
            width: 100px;
            height: 100px;
          }
        }

        &__title {
          justify-content: space-between;

          h2 {
            text-transform: uppercase;
            font-size: 12px;
            margin: 0;
          }
        }

        &__elements {
          gap: 4px;

          .color {
            border-radius: 50%;
            width: 20px;
            height: 20px;
            margin-right: 8px;
          }

          div {
            align-items: center;
            justify-content: space-between;
          }

          h3 {
            font-size: 16px;
            margin: 0;
          }

          .element {
            &__1 {
              .color {
                background-color: rgb(255, 227, 98);
              }
            }

            &__2 {
              .color {
                background-color: rgb(133, 197, 78);
              }
            }

            &__3 {
              .color {
                background-color: rgb(2, 142, 117);
              }
            }

            &__4 {
              .color {
                background-color: rgb(54, 232, 245);
              }
            }

            &__5 {
              .color {
                background-color: rgb(168, 129, 252);
              }
            }

            &__6 {
              .color {
                background-color: rgb(215, 80, 178);
              }
            }

            &__7 {
              .color {
                background-color: rgb(189, 194, 196);
              }
            }
          }
        }
      }
    }
  }

  &__questions {
    justify-content: center;
    align-items: center;

    img {
      max-height: 172px;
      max-width: 240px;
      position: relative;
      width: 100%;
      margin-right: 8px;
      margin-bottom: 16px;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      margin-top: 16px;
      margin-bottom: 16px;
      text-align: left;
    }

    p {
      color: #280d5f;
    }
  }
}

.seperator {
  background-color: #e7e3eb;
  height: 1px;
  margin: 40px 0px;
  width: 100%;
}


//Dark Mode
.lottery-a-DM {
  a {
    color: #b8add2 !important;
  }
}

.lottery-hover-DM {
  li {
    &:hover {
      background-color: #353547 !important;
    }
  }
}

.lottery-background-DM {
  background-color: #27262c !important;
}

.lottery-background2-DM {
  background: linear-gradient(166.77deg,#3b4155,#3a3045) !important;
}

.lottery-background3-DM {
  background-color: #1e1d22 !important;
}

.lottery-background4-DM{
  background: linear-gradient(rgb(67, 69, 117) 0%, rgb(102, 87, 141) 100%) !important;
}

.lottery-background5-DM {
  background-color: #08060b !important;
}

.lottery-background6-DM {
  background: linear-gradient(139.73deg, rgb(20, 35, 57) 0%, rgb(36, 36, 61) 47.4%, rgb(55, 39, 63) 100%) !important;
}

.lottery-background-border-DM {
  background-color: #383241 !important;
}

.lottery-border-DM {
  border-bottom: 0px solid !important;
  border: 1px solid #383241 !important;
}

.lottery-text1-DM {
  color: #f4eeff !important;
}

.lottery-text2-DM {
  color: #191326 !important;
}

.lottery-text3-DM {
  color: #b8add2 !important;
}

.lottery-textP-DM {
  color: #9a6aff !important;
}

.lottery-textD-DM{
  color: #666171 !important;
}

.lottery-input-DM {
  background-color: #372f47 !important;
}

