// For footer by güneş (We can make it together also for the shared colors)
$main-purple: #8d62e8;
$main-purple-i: purple;

$bg-footer: #27262c;

$main-text: #e0daea;
$yellow-list: #cf9233;

$dark-light-mode-container-bg: #666171;
$dark-light-mode-active-shadow: #6e50ab;

$footer-world-icon: #b8add2;

$button-color-main: #1fc7d4;

// Home 2 Light
$h2-bg-light-gradient-DM: linear-gradient(180deg, #0d0a14, #201335);

$h2-bg-light: rgb(255, 255, 255);
$h2-bg-light-gradient: linear-gradient(
  180deg,
  rgba(255, 255, 255, 1) 0%,
  rgba(216, 203, 237, 1) 100%
);
$h2-cards-light: #ffff;
$h2-header-text-light: #280d5f;
$h2-sub-text-light: #7a6eaa;
$h2-card-1-light: #7645d9;
$h2-card-2-light: #1fc7d4;
$h2-card-3-light: #ed4b9e;

// Home 3 Light
$h3-bg-light-gradient: linear-gradient(
  90deg,
  rgba(241, 236, 242, 1) 0%,
  rgba(233, 241, 246, 1) 100%
);

$h3-span-text: #7645d9;
$h3-header-text: #280d5f;
$h3-sub-text-light: #7a6eaa;
$h3-border-color: #d7caec;

// ######For home-5 by güneş########
$home-5-bg-i: #74b8f1;
$home-5-bg-ii: #e1edf5;
$home-5-bg-iii: #d3e8fa;

// Cards in home-5
$card-left-i: #ffb63b;
$card-left-ii: #ffe568;
$card-left-border: #ffb237;
$card-left-text-i: #280d5f;

$card-right-i: #7544d7;
$card-right-ii: #5222b2;
$card-right-border: #411a8e;
$card-right-border-i: #3c1786;
//

//NAVBAR
$nav-background: #fff;
$nav-border: #e7e3eb;
$nav-text: #7a6eaa;
$nav-hover: #eff4f5;
$nav-text2: #280d5f;
$nav-text2-active: #7645d9;

// Farms
$farms_bg_gradient: linear-gradient(
  90deg,
  rgba(231, 252, 255, 1) 0%,
  rgba(241, 241, 255, 1) 100%
);
$farms_h1_text: #7645d9;
$farms_h2_text: #280d5f;
$farms_community_text: #1fc7d4;
$farms_text_subtle: #7a6eaa;
$farms_light_bg: #eeeaf4;
$farms_bg: #faf9fa;

// Competition
$competition_bg: #191335;
$finished_bg: linear-gradient(
  0deg,
  rgba(69, 42, 122, 1) 0%,
  rgba(117, 68, 215, 1) 95%
);
$date_text: #ffd585;
$dollar_text: #71e1c9;
$compete_text: #d7caec;
$end_text: #53dee9;
$finished_text: #feba22;
$subtle_text: #7a6eaa;
$border_finished: #7645d9;

$your_score_bg: linear-gradient(
  0deg,
  rgba(155, 160, 209, 1) 0%,
  rgba(202, 214, 238, 1) 95%
);

$s2_finished_bg: linear-gradient(
  0deg,
  rgba(71, 43, 125, 1) 0%,
  rgba(117, 68, 214, 1) 95%
);

$background_participants: #e0dfdf;
