@use "../themes/base-colors" as bc;

.competition_all_content {
  display: flex;
  flex-direction: column;
}

.competition_s1_container {
  display: flex;
  background-color: bc.$competition_bg;
}
.competition_s1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 24px 48px 24px;
  justify-content: space-between;

  .mines_container {
    p:nth-child(1) {
      color: bc.$date_text;
      font-size: 16px;
    }
    p {
      color: bc.$compete_text;
    }
    .trading_competition {
      color: white;
      font-size: 48px;
    }
    .inprizes {
      color: bc.$dollar_text;
      font-size: 38px;
    }
    display: flex;
    flex-direction: column;
    img {
      height: 69px;
      width: 320px;
    }
    .divider {
      height: 100px;
      width: 780px;
    }
  }
  .finished {
    display: flex;
    flex-direction: column;
    background-color: bc.$finished_bg;
    img {
      height: 64px;
      width: 64px;
      margin-bottom: 16px;
    }
    .finished_bottom {
      display: flex;
      flex-direction: column;
      p {
        margin-bottom: 24px;
      }
      .finished_bottom_bottom {
        display: flex;
        .check {
          display: flex;
          flex-direction: column;
          img {
            height: 20px;
            width: 20px;
          }
        }
        .line_divider {
          width: 36px;
          height: 2px;
          margin: 12px 8px 0;
        }
      }
    }
  }
}
