.competition_all_content {
  display: flex;
}
.competition_s1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 28px 24px 48px 24px;
  justify-content: space-between;

  .mines_container {
    display: flex;
    flex-direction: column;
    img {
      height: 69px;
      width: 320px;
    }
    .divider {
      height: 100px;
      width: 780px;
    }
  }
  .finished {
    display: flex;
    flex-direction: column;
    img {
      height: 64px;
      width: 64px;
      margin-bottom: 16px;
    }
    .finished_bottom {
      display: flex;
      flex-direction: column;
      p {
        margin-bottom: 24px;
      }
      .finished_bottom_bottom {
        display: flex;
        .check {
          display: flex;
          flex-direction: column;
          img {
            height: 20px;
            width: 20px;
          }
        }
        .line_divider {
          width: 36px;
          height: 2px;
          margin: 12px 8px 0;
        }
      }
    }
  }
}
