--colors-light-white: #fff;
--colors-light-failure: #ed4b9e;
--colors-light-failure33: #ed4b9e33;
--colors-light-primary: #1fc7d4;
--colors-light-primary0f: #1fc7d40f;
--colors-light-primary3D: #1fc7d43d;
--colors-light-primaryBright: #53dee9;
--colors-light-primaryDark: #0098a1;
--colors-light-success: #31d0aa;
--colors-light-success19: #31d0aa19;
--colors-light-warning: #ffb237;
--colors-light-warning2D: #ed4b9e2d;
--colors-light-warning33: #ed4b9e33;
--colors-light-binance: #f0b90b;
--colors-light-overlay: #452a7a;
--colors-light-gold: #ffc700;
--colors-light-silver: #b2b2b2;
--colors-light-bronze: #e7974d;
--colors-light-secondary: #7645d9;
--colors-light-secondary80: #7645d980;
--colors-light-background: #faf9fa;
--colors-light-backgroundDisabled: #e9eaeb;
--colors-light-backgroundAlt: #fff;
--colors-light-backgroundAlt2: hsla(0, 0%, 100%, 0.7);
--colors-light-cardBorder: #e7e3eb;
--colors-light-contrast: #191326;
--colors-light-dropdown: #f6f6f6;
--colors-light-dropdownDeep: #eee;
--colors-light-invertedContrast: #fff;
--colors-light-input: #eeeaf4;
--colors-light-inputSecondary: #d7caec;
--colors-light-tertiary: #eff4f5;
--colors-light-text: #280d5f;
--colors-light-text99: #280d5f99;
--colors-light-textDisabled: #bdc2c4;
--colors-light-textSubtle: #7a6eaa;
--colors-light-disabled: #e9eaeb;
--colors-light-gradientBubblegum: linear-gradient(139.73deg, #e5fdff, #f3efff);
--colors-light-gradientInverseBubblegum: linear-gradient(
  139.73deg,
  #f3efff,
  #e5fdff
);
--colors-light-gradientCardHeader: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
--colors-light-gradientBlue: linear-gradient(180deg, #a7e8f1, #94e1f2);
--colors-light-gradientViolet: linear-gradient(180deg, #e2c9fb, #cdb8fa);
--colors-light-gradientVioletAlt: linear-gradient(180deg, #cbd7ef, #9a9fd0);
--colors-light-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
--colors-light-gradientBold: linear-gradient(#53dee9, #7645d9);
--colors-dark-white: #fff;
--colors-dark-failure: #ed4b9e;
--colors-dark-failure33: #ed4b9e33;
--colors-dark-primary: #1fc7d4;
--colors-dark-primary0f: #1fc7d40f;
--colors-dark-primary3D: #1fc7d43d;
--colors-dark-primaryBright: #53dee9;
--colors-dark-primaryDark: #0098a1;
--colors-dark-success: #31d0aa;
--colors-dark-success19: #31d0aa19;
--colors-dark-warning: #ffb237;
--colors-dark-warning2D: #ed4b9e2d;
--colors-dark-warning33: #ed4b9e33;
--colors-dark-binance: #f0b90b;
--colors-dark-overlay: #452a7a;
--colors-dark-gold: #ffc700;
--colors-dark-silver: #b2b2b2;
--colors-dark-bronze: #e7974d;
--colors-dark-secondary: #9a6aff;
--colors-dark-secondary80: #9a6aff80;
--colors-dark-background: #08060b;
--colors-dark-backgroundDisabled: #3c3742;
--colors-dark-backgroundAlt: #27262c;
--colors-dark-backgroundAlt2: rgba(39, 38, 44, 0.7);
--colors-dark-cardBorder: #383241;
--colors-dark-contrast: #fff;
--colors-dark-dropdown: #1e1d20;
--colors-dark-dropdownDeep: #100c18;
--colors-dark-invertedContrast: #191326;
--colors-dark-input: #372f47;
--colors-dark-inputSecondary: #262130;
--colors-dark-tertiary: #353547;
--colors-dark-text: #f4eeff;
--colors-dark-text99: #f4eeff99;
--colors-dark-textDisabled: #666171;
--colors-dark-textSubtle: #b8add2;
--colors-dark-disabled: #524b63;
--colors-dark-gradientBubblegum: linear-gradient(139.73deg, #313d5c, #3d2a54);
--colors-dark-gradientInverseBubblegum: linear-gradient(
  139.73deg,
  #3d2a54,
  #313d5c
);
--colors-dark-gradientCardHeader: linear-gradient(166.77deg, #3b4155, #3a3045);
--colors-dark-gradientBlue: linear-gradient(180deg, #00707f, #19778c);
--colors-dark-gradientViolet: linear-gradient(180deg, #6c4999, #6d4db2);
--colors-dark-gradientVioletAlt: linear-gradient(180deg, #434575, #66578d);
--colors-dark-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
--colors-dark-gradientBold: linear-gradient(#53dee9, #9a6aff);
--fonts-normal: "Kanit", sans-serif;
--fonts-mono: SFMono, ui-monospace, monospace;
--space-0: 0px;
--space-1: 4px;
--space-2: 8px;
--space-3: 16px;
--space-4: 24px;
--space-5: 32px;
--space-6: 48px;
--space-7: 64px;
--space-0px: 0px;
--space-1rem: 1rem;
--space-1px: 1px;
--space-2px: 2px;
--space-4px: 4px;
--space-8px: 8px;
--space-12px: 12px;
--space-14px: 14px;
--space-16px: 16px;
--space-20px: 20px;
--space-24px: 24px;
--space-32px: 32px;
--space-48px: 48px;
--space-56px: 56px;
--space-64px: 64px;
--borderWidths-0: 0px;
--borderWidths-1: 1px;
--borderWidths-2: 2px;
--radii-0: 0px;
--radii-8px: 8px;
--radii-12px: 12px;
--radii-20px: 20px;
--radii-small: 4px;
--radii-default: 16px;
--radii-card: 24px;
--radii-circle: 50%;
--fontSizes-10px: 10px;
--fontSizes-12px: 12px;
--fontSizes-16px: 16px;
--fontSizes-14px: 14px;
--fontSizes-20px: 20px;
--fontSizes-40px: 40px;
--shadows-level1: 0px 2px 12px -8px rgba(25, 19, 38, 0.1),
  0px 1px 1px rgba(25, 19, 38, 0.05);
--shadows-active: 0px 0px 0px 1px #0098a1,
  0px 0px 4px 8px rgba(31, 199, 212, 0.4);
--shadows-success: 0px 0px 0px 1px #31d0aa,
  0px 0px 0px 4px rgba(49, 208, 170, 0.2);
--shadows-warning: 0px 0px 0px 1px #ed4b9e,
  0px 0px 0px 4px rgba(237, 75, 158, 0.2);
--shadows-focus: 0px 0px 0px 1px #7645d9,
  0px 0px 0px 4px rgba(118, 69, 217, 0.6);
--shadows-inset: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
--shadows-tooltip: 0px 0px 2px rgba(0, 0, 0, 0.2),
  0px 4px 12px -8px rgba(14, 14, 44, 0.1);
--colors-white: #fff;
--colors-failure: #ed4b9e;
--colors-failure33: #ed4b9e33;
--colors-primary: #1fc7d4;
--colors-primary0f: #1fc7d40f;
--colors-primary3D: #1fc7d43d;
--colors-primaryBright: #53dee9;
--colors-primaryDark: #0098a1;
--colors-success: #31d0aa;
--colors-success19: #31d0aa19;
--colors-warning: #ffb237;
--colors-warning2D: #ed4b9e2d;
--colors-warning33: #ed4b9e33;
--colors-binance: #f0b90b;
--colors-overlay: #452a7a;
--colors-gold: #ffc700;
--colors-silver: #b2b2b2;
--colors-bronze: #e7974d;
--colors-secondary: #7645d9;
--colors-secondary80: #7645d980;
--colors-background: #faf9fa;
--colors-backgroundDisabled: #e9eaeb;
--colors-backgroundAlt: #fff;
--colors-backgroundAlt2: hsla(0, 0%, 100%, 0.7);
--colors-cardBorder: #e7e3eb;
--colors-contrast: #191326;
--colors-dropdown: #f6f6f6;
--colors-dropdownDeep: #eee;
--colors-invertedContrast: #fff;
--colors-input: #eeeaf4;
--colors-inputSecondary: #d7caec;
--colors-tertiary: #eff4f5;
--colors-text: #280d5f;
--colors-text99: #280d5f99;
--colors-textDisabled: #bdc2c4;
--colors-textSubtle: #7a6eaa;
--colors-disabled: #e9eaeb;
--colors-gradientBubblegum: linear-gradient(139.73deg, #e5fdff, #f3efff);
--colors-gradientInverseBubblegum: linear-gradient(139.73deg, #f3efff, #e5fdff);
--colors-gradientCardHeader: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
--colors-gradientBlue: linear-gradient(180deg, #a7e8f1, #94e1f2);
--colors-gradientViolet: linear-gradient(180deg, #e2c9fb, #cdb8fa);
--colors-gradientVioletAlt: linear-gradient(180deg, #cbd7ef, #9a9fd0);
--colors-gradientGold: linear-gradient(180deg, #ffd800, #fdab32);
--colors-gradientBold: linear-gradient(#53dee9, #7645d9);
color-scheme: light;
--vh: 10.07px;
cursor: default;
font: inherit;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
font-family: Kanit, sans-serif;
margin: 0px;
padding: 0px;
border: 0px;
font-size: 100%;
vertical-align: baseline;
