@use "../themes/base-colors" as bc;

.competition_all_content {
  display: flex;
  flex-direction: column;
}

.competition_s1_container {
  display: flex;
  background-color: bc.$competition_bg;
}
.competition_s1 {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 24px 48px 24px;
  justify-content: space-between;

  .mines_container {
    z-index: 2;
    p:nth-child(1) {
      color: bc.$date_text;
      font-size: 16px;
    }
    p {
      color: bc.$compete_text;
    }
    .trading_competition {
      color: white;
      font-size: 48px;
    }
    .inprizes {
      color: bc.$dollar_text;
      font-size: 38px;
    }
    display: flex;
    flex-direction: column;
    img {
      height: 69px;
      width: 320px;
    }
    .divider {
      height: 100px;
      width: 780px;
    }
  }
  .finished {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 58px;
    background-image: bc.$finished_bg;
    border: 1px solid bc.$border_finished;
    height: 220px;
    align-items: center;
    border-radius: 16px;
    padding: 24px 16px 16px;
    img {
      height: 64px;
      width: 64px;
      margin-bottom: 16px;
    }
    .finished_bottom {
      display: flex;
      flex-direction: column;
      align-items: center;
      .finished_p {
        font-size: 24px;
        font-weight: 600;
        color: bc.$finished_text;
      }
      p {
        margin-bottom: 14px;
      }

      .finished_bottom_bottom {
        display: flex;
        .check {
          display: flex;
          flex-direction: column;
          align-items: center;
          .end {
            font-weight: 700;
            color: bc.$end_text;
          }
          p {
            font-size: 12px;
            color: bc.$subtle_text;
          }
          img {
            height: 20px;
            width: 20px;
          }
        }
        .line_divider {
          width: 36px;
          height: 2px;
          margin: 12px 8px 0;
          background-color: bc.$subtle_text;
        }
      }
    }
  }
}
.net {
  position: absolute;
  width: 100%;
  height: 180px;
  top: 436px;
}

.halo {
  position: absolute;
  width: 40%;
  top: 400px;
  right: 700px;
}
